/* Configura o fundo da página e o alinhamento do container */
.container-body {
   background: rgb(2,0,36);*/
   background-color: linear-gradient(90deg, rgb(0, 108, 141) 0%, rgba(9,9,121,1) 44%, rgb(0, 55, 66) 100%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Estilo das imagens */
img {
    height: 190px;
}

/* Estilo do container .Login */
.container-body .Login {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    margin-right: 20px;
}

/* Estilo do container .Informacao */
.container-body .Informacao {
    width: 750px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border-radius: 15px;
    overflow: hidden; /* Garante que a barra animada fique dentro do container */
}

/* Estilo dos inputs */
input {
    width: 80%;
    padding: 10px;
    border: 1px solid #000000fa;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo dos botões */
button {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Efeito hover do botão */
button:hover {
    background-color: #45a049;
}

/* Estilo dos links */

/* Estilo dos títulos */
h2 {
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

h1 {
    background-color: crimson;
    margin-top: 0;
}

