
.container-body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 44%, rgba(86,222,250,1) 100%);
    display: flex;
    height: 100vh;
    align-items: center; 
    justify-content: center; 
}
    
.container-body .Login {
    width: 400px;                /* Width of the rectangle */
    height: 400px;               /* Height of the rectangle */
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra esbranquiçada */
    position: relative;
    display: flex;               /* Enables Flexbox layout */
    flex-direction: column;      /* Aligns children vertically */
    /* justify-content: center;     Centers elements vertically within the rectangle */
    align-items: center;         /* Centers elements horizontally within the rectangle */
    padding-top: 180px;
    /* padding: 20px; */
    gap: 10px;                   /* Space between the elements */
    border-radius: 15px;         /* Rounded corners (optional) */
    margin-right: 20px;
}

.container-body .Informacao {
    width: 750px;                /* Width of the rectangle */
    height: 400px;               /* Height of the rectangle */
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra esbranquiçada */
    position: relative;
    display: flex;               /* Enables Flexbox layout */
    flex-direction: column;      /* Aligns children vertically */
    justify-content: center;     /* Centers elements vertically within the rectangle */
    align-items: center;         /* Centers elements horizontally within the rectangle */
    padding: 20px;
    gap: 10px;                   /* Space between the elements */
    border-radius: 15px;         /* Rounded corners (optional) */

}

input {
    width: 80%;                  /* Input width relative to the rectangle */
    padding: 10px;
    border: 1px solid #ccc;      /* Light border */
    border-radius: 5px;          /* Rounded corners */
    box-sizing: border-box;      /* Ensures padding is included in width */
}

button {
    width: 50%;                  /* Button width relative to the rectangle */
    padding: 10px;
    background-color: #4CAF50;   /* Button background color */
    color: white;                /* Button text color */
    border: none;
    border-radius: 5px;          /* Rounded corners */
    cursor: pointer;
}

button:hover {
    background-color: #45a049;   /* Button background color on hover */
}