*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #73b4ff;
    padding: 15px 2%;
    display: flex;
    justify-content: space-between;
}
.info-header{
    color: white;
    display: flex;
    justify-content: space-around;
    width: 5vh;
}
.info-header svg{
    align-items: center;
    margin: 20px;
    color: white;
}
.icons-header{
    margin-left: 15px;
}
.material-icons{
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#desempenho{
    display: flex;
    background-color: black;
}